:sass
  #game_canvas:-webkit-full-screen
    width: 100%
    height: auto

:coffeescript
  $ ->
    canvas = document.getElementById("game_canvas")

    map = [
      [0,0,0,0,0,0,0,0,0,0],
      [0,0,0,0,0,0,0,0,0,0],
      [0,0,0,0,0,0,0,0,0,0],
      [0,0,0,0,0,0,0,0,0,0],
      [0,0,0,0,0,0,0,0,0,0],
      [0,0,0,0,0,0,0,0,0,0],
      [0,0,0,0,0,0,0,0,0,0],
      [0,0,0,0,0,0,0,0,0,0],
      [0,0,0,0,0,0,0,0,0,0],
      [0,0,0,0,0,0,0,0,0,0]
    ]

    bots = []

    $('#full_screen_link').on 'click', ->
      canvas.webkitRequestFullscreen()

    canvas.addEventListener 'start', (e) ->
      map = e.detail.map
      bots = e.detail.bots

    canvas.addEventListener 'update', (e) ->
      map = e.detail.map
      bots = e.detail.bots

    context = canvas.getContext("2d")
    context.clearRect(0, 0, canvas.width, canvas.height)
    images = {
      bg: { data: null, url: "#{image_url("bg.png")}", loaded: false },
      block: { data: null, url: "#{image_url("block.png")}", loaded: false },
      bots: { data: null, url: "#{image_url("bots.png")}", loaded: false }
    }

    for k, v of images
      v.data = new Image()
      v.data.src = v.url
      v.data.onload = ->
        console.log v
        v.loaded = true

    draw_map = (context, map) ->
      for row, y in map
        for tile, x in row
          if tile == 9 && images.block.loaded
            context.drawImage(images.block.data, x*40, y*40)

    draw_bots = (context, bots) ->
      if bots.length > 0 && images.bots.loaded
        for bot, index in bots
          action_index = 0
          if bot.action
            switch bot.action
              when 'fire'
                action_index = 1
          bot_index = (index * 80) + (action_index * 40)
          switch bot.direction
            when 'right'
              context.drawImage(images.bots.data, 0, bot_index, 40, 40, bot.x * 40, bot.y * 40, 40, 40)
            when 'up'
              context.drawImage(images.bots.data, 40, bot_index, 40, 40, bot.x * 40, bot.y * 40, 40, 40)
            when 'left'
              context.drawImage(images.bots.data, 80, bot_index, 40, 40, bot.x * 40, bot.y * 40, 40, 40)
            when 'down'
              context.drawImage(images.bots.data, 120, bot_index, 40, 40, bot.x * 40, bot.y * 40, 40, 40)


    draw = ->
      context.drawImage(images.bg.data, 0, 0) if images.bg.loaded
      draw_map(context, map)
      draw_bots(context, bots)
      requestAnimationFrame(draw)

    draw()

%canvas#game_canvas{ width: '400', height: '400'}

%a#full_screen_link Full screen
